if SHIELD_LEVELS_LEFT

config ZMK_KEYBOARD_NAME
  default "Levels 54-R2"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_LEVELS_LEFT || SHIELD_LEVELS_RIGHT

config ZMK_SPLIT
  default y


endif
